body {
  background: linear-gradient(
    180.3deg,
    rgb(221, 221, 221) 5.5%,
    rgb(110, 136, 161) 90.2%
  );
  background-size: 100% 900px;
  color: white;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.current {
  height: 200px;
  max-width: 700px;
  margin: 0 auto;
  padding: 30px;
  padding-top: 40px;
  background: rgb(150, 169, 188);
  border-radius: 10px;
  box-shadow: 20px;
}
.displayed-city {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 350;
  font-size: 55px;
  transform: translate(50px, -10px);
}
.displayed-date {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 350;
  font-size: 40px;
  transform: translate(50px, -33px);
}
.details {
  display: flex;
  justify-content: right;
  transform: translate(0px, -220px);
}
.displayed-temp {
  display: inline-block;
  font-size: 70px;
  transform: translateX(180px);
}
.degree {
  display: inline-block;
  font-size: 70px;
  transform: translateX(180px);
}
.weather-icon {
  display: inline-block;
  font-size: 70px;
  transform: translateX(175px);
}
.displayed-humidity {
  transform: translate(35px, 100px);
  font-size: 20px;
}
.displayed-windspeed {
  transform: translate(-77px, 130px);
  font-size: 20px;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 0;
}
li {
  text-transform: uppercase;
  display: inline-block;
  font-size: 30px;
  font-weight: 200;
}
.emoji {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar {
  height: 30px;
  width: 200px;
  border: none;
  font-size: 18px;
  border-radius: 5px;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 20px;
}
.search-button {
  background-color: rgb(66, 97, 131);
  color: white;
  height: 35px;
  width: 65px;
  font-size: 17px;
  border-radius: 5px;
  border: none;
}
footer {
  padding-top: 130px;
  text-align: center;
}
.link {
  text-decoration: none;
  color: rgb(66, 97, 131);
  font-weight: 400;
}
