body {
  background: linear-gradient(
    180.3deg,
    rgb(221, 221, 221) 5.5%,
    rgb(110, 136, 161) 90.2%
  );
  background-size: 100% 900px;
  color: white;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.current {
  height: 200px;
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  background: rgb(150, 169, 188);
  border-radius: 10px;
  box-shadow: 20px;
}
.displayed-city {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 350;
  font-size: 50px;
  transform: translateX(50px);
}
.displayed-date {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 350;
  font-size: 35px;
  transform: translate(50px, -10px);
}
.details {
  display: flex;
  justify-content: end;
  transform: translate(0px, -185px);
}
.displayed-temp {
  font-size: 70px;
  transform: translateX(130px);
}
.displayed-humidity {
  transform: translate(-10px, 100px);
}
.displayed-windspeed {
  transform: translate(-100px, 125px);
}
ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
li {
  text-transform: uppercase;
  display: inline-block;
  margin: 0 70px 70px;
  font-size: 30px;
}
