body {
  background: linear-gradient(
    180.3deg,
    rgb(221, 221, 221) 5.5%,
    rgb(110, 136, 161) 90.2%
  );
  background-size: 100% 900px;
  color: white;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.current {
  height: 300px;
  max-width: 750px;
  margin: 0 auto;
  padding: 30px;
  padding-top: 40px;
  background: rgb(145, 161, 178);
  border-radius: 10px;
  box-shadow: 40px;
}
.top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
}
.location {
  display: flex;
  justify-content: left;
}
.displayed-city {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 350;
  font-size: 50px;
}
.displayed-date {
  font-family: "Raleway", sans-serif;
  font-weight: 250;
  font-size: 25px;
}
.displayed-temp {
  display: inline-block;
  font-size: 60px;
  transform: translate(0, -20px);
}
.weather-icon {
  font-size: 60px;
}
.displayed-humidity {
  font-size: 20px;
  display: flex;
  justify-content: right;
  align-content: flex-start;
}
.displayed-windspeed {
  font-size: 20px;
  display: flex;
  justify-content: right;
}

.weather-forecast {
  display: flex;
  align-content: space-between;

  text-align: center;
}
.search-bar {
  height: 30px;
  width: 200px;
  border: none;
  font-size: 18px;
  border-radius: 5px;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 20px;
}
.search-button {
  background-color: rgb(66, 97, 131);
  color: white;
  height: 35px;
  width: 65px;
  font-size: 17px;
  border-radius: 5px;
  border: none;
}
footer {
  padding-top: 130px;
  text-align: center;
}
.link {
  text-decoration: none;
  color: rgb(66, 97, 131);
  font-weight: 400;
}
